/* Modal image swipe-to-slide effect */
#modalImage {
    will-change: transform;
    position: relative;
    transition: transform 0.3s;
}

:root {
    --off-white: #f3efe4;
    --secondary: #f3f3f3;
    --theme: #215520;
    --text-color: #252525;
    --secondary-text: #555555;
    --grey: #606470;
    --cta: #e85d04;
    --cta2: #e87d25;
    --cta3: #ff0e0e;
    --cta-gradient: linear-gradient(90deg, var(--cta) 0%, var(--cta2) 100%);
    --white-bg-gradient: linear-gradient(145deg, #fffff4, #dbd7cd);
    --theme-font: 'Host Grotesk', sans-serif;
    --copy-font: 'Inter', sans-serif;
    --size1: 0.5rem;
    --size2: 1rem;
    --size3: 2rem;
    --size4: 3rem;
    --size5: 4rem;
    --size6: 5rem;
    --size7: 6rem;
}

/* GLOBAL CLASSES */

.cta {
    display: flex;
    color: var(--off-white);
    background: var(--cta-gradient);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.cta::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transition: left 0.5s ease;
}

.cta:hover::before {
    left: 100%;
}

.cta:hover {
    box-shadow: 0 4px 15px rgba(148, 0, 0, 0.315);
}

a.cta {
    text-decoration: none;
}

.ghost-btn {
    padding: 0.5rem 1rem;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
} 

.ghost-btn.white {
    border: 2px solid var(--off-white);
    border-radius: 4px;
    color: var(--off-white);
}

.ghost-btn.white:hover {
    background: var(--off-white);
    color: var(--text-color);
}

.ghost-btn.theme {
    border: 2px solid var(--cta2);
    border-radius: 4px;
    color: var(--cta2);
}

.ghost-btn.theme:hover {
    background: var(--cta2);
    color: var(--off-white);
}

.ghost-btn.grey {
    border: 1px solid #606470;
    color: #606470;
}

.ghost-btn.grey:hover {
    background: #606470;
    color: var(--off-white);
}

.selected {
    font-weight: 800;
}

.fade-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.3s ease;
}

.img-wrapper {
    display: block;
    overflow: hidden;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
}


/* PAGE CONTENT */


* {
    box-sizing: border-box;
    font-family: var(--copy-font);
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: var(--off-white);
}

body.no-scroll {
    overflow: hidden;
}

.header {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

.header-contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    min-width: 350px;
    width: 100%;
}

.header-contact {
    display: flex;
    align-items: center;
}

.header-contact a {
    font-weight: 800;
    color: rgb(48, 48, 48);
    text-decoration: none;
}

.header-icon {
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
}

.header-right {
    display: flex;
    max-width: 350px;
    align-items: center;
}

/* Wrapper around SERVICES */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Submenu hidden by default */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background: #444;
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1000;
}

.dropdown-menu li a {
    display: block;
    padding: 0.75rem 1rem;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-menu li a:hover {
    background: #555;
}

/* Show submenu on hover */
.dropdown:hover .dropdown-menu {
     display: flex;
}

/* Optional arrow indicator */
.dropdown > a::after {
    position: relative;
    top: -2px;
    content: " ▶";
    font-family: var(--copy-font);
    font-size: 0.7rem;
    margin-left: 4px;
    display: inline-block;  
    vertical-align: middle;
    transition: transform 0.2s ease;
}

.dropdown:hover > a::after {
    transform: rotate(90deg);
    color: var(--cta2);
}

.hamburger-holder {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #606470;
    margin-right: 0;
    margin-left: 2rem;
    padding: 0 1rem;
    height: 100%;
}

.hamburger-holder p {
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--off-white);
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    z-index: 105;
    position: relative;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--off-white);
    margin: 3px 0;
    transition: 0.3s;
    z-index: 105;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: var(--cta2);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: var(--cta2);
}

.link {
    text-decoration: none;
    color: var(--off-white);
    cursor: pointer;
    margin: 0 1rem;
    transition: color 0.2s ease, transform 0.2s ease;
    display: inline-block; /* allow transform to run reliably */
}

.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    min-width: 250px;
    height: 100%;
    background-color: var(--off-white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.3s ease;

}

.nav-menu .dropdown > a {
    color: var(--cta2);
    width: 100%;
}

.nav-menu.active {
    transform: translateX(0%);
}

.nav-menu .nav-links {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 1rem;
}

.mobile-exit {
    cursor: pointer;
    color: var(--cta);
}

.service-nav {
    text-decoration: none;
    color: var(--off-white);
    cursor: pointer;
    margin: 0 1rem;
    transition: color 0.2s ease, transform 0.2s ease;
    display: inline-block; /* allow transform to run reliably */
}


.nav-menu .link, .nav-menu .mobile-service {
    padding: 1rem;
    margin: 0;
    text-align: center;
    color: var(--cta2);
}

.nav-menu .contact {
    margin: 1rem;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

/* -------HERO SECTION------- */
.hero-container {
    position: relative;
}

.hero-img {
    min-height: 400px;
    height: 600px;
    position: relative;
    box-shadow: 5px 5px 15px #75757523;
    border-bottom: 2px solid #666666;
}

.title-holder {
    position: absolute;
    top: 100px;
    right: 10px;
    min-width: 400px;
    max-width: 600px;
    padding: 1.5rem;
    background-color: #ffffff9d;
    backdrop-filter: blur(10px);
}

.title-top-row {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    width: 100%;
}

.logo {
    max-width: 250px;
    justify-self: left;
}

.logo img {
    object-fit: scale-down;
}

.title-middle {
    text-align: right;
    margin: 0 0 1rem;
}

.title-middle h1 {
    font-family: var(--theme-font);
    font-size: clamp(3.75rem, 5vw, var(--size5));
    letter-spacing: -3px;
    line-height: 0.9;
}

.title-desc {
    margin-top: 1rem;
}

.title-bottom {
    width: 300px;
    margin-left: auto;
}


/*-------------------*/

.key-info {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: relative;
}

.info-piece {
    text-align: center;
    max-width: 350px;
    background: var(--white-bg-gradient);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow:  5px 5px 15px #9e9e9e81;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease;
}

.info-piece:hover {
    transform: translateY(-4px);
    box-shadow:  0 0 15px #ff730062;
}

.info-piece h3 {
    font-family: var(--theme-font);
    font-size: clamp(var(--size3), 2.5vw, var(--size5));
    letter-spacing: -1px;
}

.info-piece p {
    font-size: clamp(1rem, 1.5vw, 1.8rem)
}

.index-bg-holder { 
    position: absolute;
    width: 100vw;
    height: 500px;
    top: 0;
    left: 0;
    background-image: url('../img/bg-img1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}   

/*-------------------------*/

.index-services-holder {
    background: linear-gradient(-45deg, #3f4249 0%, #606470 70%);
    padding: 2rem 0;
    position: relative;
    z-index: 5;
}

.carousel-container {
    max-width: 1200px;
    margin: 0 auto 2rem;
}

.carousel-header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
    position: relative;
}


.carousel-header-content h2 {
    color: var(--off-white);
    font-family: var(--theme-font);
    font-size: clamp(var(--size4), 3vw, var(--size5));
    letter-spacing: -2px;
    font-weight: 600;
    padding: 1rem;
    padding-left: 3rem;
    margin: 0;
    background-color: var(--grey);
}

.carousel-header-content p {
    margin: 0 0 -0.9rem;
    color: var(--theme);
}

.carousel-header::after {
    position: absolute;
    content: '';
    background-color: var(--grey);
    height: 100%;
    width: 500px;
    left: 0;
    top: 0px;
    z-index: -2;
    transform: skewX(50deg)
}

.carousel-nav-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.carousel-nav-btn {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    font-size: 1.5rem;
}

.carousel-prev-btn {
    background: white;
    color: #4b5563;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.carousel-prev-btn:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    color: #1f2937;
}

.carousel-next-btn {
    background: linear-gradient(90deg, var(--cta) 0%, var(--cta2) 100%);
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.carousel-next-btn:hover {
    background: linear-gradient(90deg, var(--cta2) 0%, var(--cta3) 100%);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.carousel-wrapper {
    overflow-x: hidden;
    width: 100%;
    height: 475px;
}

.carousel-track {
    display: flex;
    padding: 1rem;
    gap: 2rem;
    transition: transform 0.5s ease;
    overflow: hidden;
}

.card {
    flex: 0 0 310px;
    width: 310px;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    user-select: none;
    display: flex;
    flex-direction: column;
    height: 450px;
}

.card:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.card-image {
    height: 50%;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover .card-image img {
    transform: scale(1.05);
}

.card-content {
    padding: 1.5rem;
    background: linear-gradient(145deg, #fffff7, #bbb7af);
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
}

.card-top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-title {
    color: #1f2937;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    justify-self: center;
    position: relative;
    font-family: var(--theme-font);
    font-weight: 800;
}

.card-title::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    border-bottom: solid 3px var(--cta);
}

.card-description {
    justify-self: center;
    text-align: center;
    color: var(--text-color)
}

.card-link {
    font-weight: 800;
    font-size: 1.25rem;
    text-align: center;
}

.featured-project-holder {
    width: 80%;
    max-width: 1500px;
    border-radius: 7px;
    background: var(--white-bg-gradient);
    margin: auto;
    padding: 2rem;
    box-shadow: 5px 5px 15px #5b5a5ab0;
}

.featured-project-holder h2 {
    font-size: clamp(var(--size4), 3vw, var(--size5));
    font-family: var(--theme-font);
}

.featured-project-holder p {
    color: var(--secondary-text);
    margin-bottom: 1rem;
}

.featured-project-pictures {
    max-height: 500px;
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.featured-img1 {
    height: 400px;
    width: 300px;
    align-self: center;
    justify-self: center;
    z-index: 3;
    transform: rotate(-7deg) translate(10%, 5%);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #5050504b;
}

.featured-img2 {
    height: 450px;
    width: 325px;
    align-self: center;
    justify-self: center;
    z-index: 5;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #5050504b;
}

.featured-img3 {
    height: 400px;
    width: 300px;
    align-self: center;
    justify-self: center;
    z-index: 1;
    transform: rotate(7deg) translate(-10%, 5%);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #5050504b;
}

.featured-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    font-size: 1.5rem;
}

.featured-link1 {
    font-weight: 800;
    padding: 0.65rem 1.1rem;
}
/*-------------------------*/

.about-us-container {
    height: 500px;
    background-image: url('../img/idx-about-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-index-text {
    width: 70%;
    max-width: 900px;
    background-color:#1f29379a;
    backdrop-filter: blur(10px);
    outline: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    padding: 1.5rem;
}

.about-us-index-text h2 {
    font-size: clamp(var(--size2), 5vw, var(--size4));
    color: var(--off-white)
}

.about-us-index-text p {
    color: var(--off-white);
    margin: 1.5rem auto;
    max-width: 700px;
}

.about-us-index-text > .ghost-btn {
    max-width: 300px;
    margin: 2rem auto;
}


/*-------------------------*/
.info-pic {
    height: 22px;
    width: 22px;
    margin-right: 0.1rem;
}

.reviews-header {
    margin: 3rem auto 0;
    padding: 0 1rem;
    width: 80%;
    text-align: center;
}

.reviews-header h2 {
    background-image: linear-gradient(90deg, var(--cta2), var(--cta3));
    color: transparent;
    background-clip: text;
    font-family: var(--theme-font);
    font-size: clamp(var(--size3), 5vw, var(--size5));
    letter-spacing: -2px;
    font-weight: 800;
    margin: 0;
}

.reviews-header p {
    margin: 0 0 -0.9rem;
    color:#1f2937;
}

.reviews-container {
    width: 80%;
    max-width: 1300px;
    margin: 3rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem 1rem;
}

.review-card {
    width: 400px;
    height: 250px;
    min-width: 400px;
    padding: 2rem;
    border-radius: 5px;
    background: #fff;
    box-shadow:  5px 5px 11px #86868679;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.2s ease;
}

.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px #ff66006c;
}

.review-quote {
    position: absolute;
    top: -20px;
    right: 50%;
    transform: translateX(50%);
    z-index: 3;
    background-color: var(--cta);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.review-quote img {
    height: 50% !important;
    width: 50% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.review-info {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 700;
}

.link-to-google a {
    text-decoration: none;
    font-weight: 700;
}

.review-stars {
    color: rgb(255, 187, 0);
}

/*--------------------*/

/* -------------------- */

.final-cta {
    position: relative;
    display: flex;
    padding-bottom: 1rem;
}

.final-cta::after {
    position: absolute;
    content: '';
    border-bottom: solid 2px #dadada;
    width: 80%;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
}

.final-cta-left, .final-cta-right {
    width: 50%;
}

.google-map {
    width: 100%;
    height: 100%;
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-form {
    width: 95%;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.email-form h2 {
    color: var(--cta2);
    font-weight: 500;
    font-size: clamp(var(--size3), 4vw, var(--size5));
    line-height: 0.95;
    letter-spacing: -3px;
    font-family: var(--theme-font);
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;   
    align-items: center;      
    width: 80%;              
    margin: 0 auto;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 1280px;
}

.form-row input {
    width: 100%;
    height: 3em;
    margin: 0 0 1rem;
    border: none;
    border-radius: 3px;
    padding: 0 0 0 1rem;
    border: 2px solid var(--text-color);
}

.file-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-row p {
    font-size: 0.75rem;
    text-wrap: nowrap;
}

.file-upload {
    border: none;
    width: 100%;
    margin: 0.5rem 0;
}

.email-body {
    width: 100%;
    max-width: 1280px;
}

.email-body textarea {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 1rem 0 0 1rem;
    border: 2px solid var(--text-color);
}

.email-form input:focus,
.email-form textarea:focus {
    border: 3px solid var(--cta2);
    outline: none;
}

.submit-btn {
    outline: none;
    border: none;
    margin: auto;
    width: 250px;
    font-size: 16px;
    font-weight: 700;
}

.footer-holder {
    min-height: 500px;
    background-color: var(--off-white);
    color: var(--text-color);
    z-index: 5;
}

.footer-contact-button {
    height: 5rem;
    width: 90%;
    margin: -4rem auto 0;
    background-color: #fff;
    border-radius: 5px;
    z-index: 5;
    display: flex;
    box-shadow: 0px 5px 15px #9e9e9e6c;
}

.footer-link {
    width: 20%;
    margin: auto;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-weight: 700;
    color: var(--off-white) !important;
}

.footer-holder ul {
    list-style: none;
    padding: 0;

}

.footer-holder ul li {
    margin: 0.5rem 0 0.5rem 0;

}

.footer-holder a {
    color: var(--text-color);
}

.footer-top-grid {
    padding: 3rem;
    display: grid;
    grid-template-columns: 300px auto auto;
    max-width: 1650px;
    margin: auto;
    
}

.footer-logo {
    width: 300px;
    height: auto;
    align-self: center;
}

.footer-info {
    display: block;
}

.footer-info-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 70%;
    margin: 0.5rem auto;
}

.footer-book {
    padding: 0.25rem 0.5rem;
    color: var(--text-color);
    background-color: var(--off-white);
    border: 2px solid var(--cta);
    border-radius: 3px;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.footer-book:hover {
    background-color: var(--cta);
    color: var(--off-white);
}

.footer-divider {
    border-top: solid 2px #dadada;
    width: 80%;
    margin: auto;
    padding-bottom: 1rem;
}

.footer-divider.top-one {
    border-top: solid 2px #dadada00;
}

.footer-divider p {
    margin-bottom: 0;
}

@media screen and (max-width: 850px) {
    .header-contact-info {
        flex-direction: column;
        justify-content: left;
        align-items: baseline;
        gap: 0.5rem;
        padding-top: 0.25rem;
    }

    .header-right {
        height: 72px;
    }

    .key-info {
        gap: 2rem;
    }

    .featured-project-pictures {
        flex-direction: column;
        gap: 0.5rem;
        max-height: unset;
    }
    .featured-img1, .featured-img2, .featured-img3 {
        width: 80%;
        height: 350px;
        transform: rotate(0) translate(0, 0);
    }
    .featured-img1 img { object-position: 50% 65%; }

    .featured-links {
        flex-direction: column;
        font-size: 1.25rem;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    .final-cta {
        flex-direction: column-reverse;
    }

    .final-cta-left, .final-cta-right {
        width: 100%;
    }

    .final-cta-left {
        height: 300px;
    }

    .form-row {
        display: block;
    }

    .footer-top-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        padding: 1rem 0;
    }

    .footer-logo {
        height: 100px;
        width: auto;
        align-self: first baseline;
    }

    .footer-logo img {
        object-fit: scale-down;
    }

    .info-pic {
        height: 20px;
        width: 20px;
    }

    .footer-info {
        padding-top: 0;
    }

    .footer-holder {
        width: 100%;
        font-size: 12px;
    }

    .footer-top-grid {
        padding: 1rem;
        width: 80%;
        justify-content: flex-start;
        gap: 1rem;
    }

    .footer-info-line {
        margin: 0.75rem 0;
        max-width: unset;
    }

    .email-form {
        width: 100%;
        margin: 0.5rem 0;
    }
}

@media screen and (max-width: 650px) {
    .header-contact-info {
        font-size: 10px;
        min-width: unset;
    }
    .hero-container {
        display: flex;
    }
    .title-holder {
        top: unset;
        right: unset;
        min-width: unset;
        padding: 0.75rem;
        margin: 0.75rem;
        justify-self: center;
        align-self: center;
    }

    .title-top-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .logo {
        align-self: center;

    }

    .title-holder h1, .title-holder p {
        text-align: left;
    }

    .title-bottom {
        width: unset;
        margin: 0;
    }

    .key-info {
        flex-direction: column;
    }

    .index-bg-holder {
        height: 600px;
    }

    .info-piece {
        max-width: unset;
        width: 70%;
    }

    .carousel-header h2{
        padding: 0.5rem;
    }

    .featured-project-holder {
        padding: 1rem;
        width: 90%;
    }

    .featured-project-holder h2 {
        line-height: 0.9;
        margin-bottom: 1rem;
    }
    .featured-img1, .featured-img2, .featured-img3 {
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width: 550px) {
    .call-now-btn {
        display: none;
    }
    .hamburger-holder {
        margin-left: 0.25rem;
    }
    .hamburger-holder p {
        display: none;
    }
    .carousel-header::after {
        width: 320px;
    }
}

@media screen and (max-width: 500px) {
    .header-icon {
        height: 20px;
        width: 20px;
    }

    .featured-project-holder p {
        font-size: 0.8rem;
    }
    
    .about-us-index-text {
        padding: 1rem;
        height: auto;
    }
    
    .about-us-index-text h2 {
        font-size: 1rem;
    }

    .about-us-index-text p {
        font-size: 0.75rem;
    }

    .reviews-container {
        gap: 1.75rem;
    }

    .about-us-index-text > .ghost-btn {
        margin: 0;
        font-size: 12px;
        display: block;
    }
    
    .footer-link {
        width: 35%;
    }
    .review-card {
        width: 300px;
        padding: 2rem 0.5rem;
        min-width: unset;
        height: 175px;
        font-size: 12px;
    }

    .review-info p {
        font-size: 12px;
    }

    .reviews-header h2 {
        line-height: 1.2;
        margin-top: 1rem;
        font-size: 32px;
    }

    .review-card p {
        margin: 0;
    }
}

